body{
  background: url("images/blogBckgrnd.jpg") no-repeat center center fixed;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  background-size: cover;
  /*height: 700px;*/
  overflow-x: hidden;
  position: relative;
  color: white;
}

.nav-pills{
  font-size: 1.7em;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: white;
  opacity: 0.4;
  border-radius: 10px;
  /*color: orange !important;*/
}

.posts{
  background-color: white;
  height:100%;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  margin-top:8%;
  padding:3.5%;
  opacity: 0.8;
  color: black;
  border-radius:15px;
}

hr{
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
