body{
  background: url("images/contactMe.jpg") no-repeat center center fixed;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  background-size: cover;
  /*height: 700px;*/
  overflow-x: hidden;
  position: relative;
  color: white;
}

.ggbMe{
  /*background: url("images/ggbMe.jpg") no-repeat center center fixed;*/
  content: url("images/ggbMe.jpg");
  height:45%;
  width:20%;
  margin-left: 30%;
  opacity: 0.7;
}
