body{
  background: url("images/contactMe.jpg") no-repeat center center fixed;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  background-size: cover;
  /*height: 700px;*/
  overflow-x: hidden;
  position: relative;
  color: white;
}

/*.ggbMe{
  content: url("images/ggbMe.jpg");
  height:45%;
  width:20%;
  margin-top: 5%;
  margin-left: 70%;
  opacity: 0.7;
  border-radius: 10px;
}*/

.links{
  opacity: 0.7;
  display:inline;
  margin-left: 45%;
}

#medium{
  color: #00ab6c;
  margin-left: 2%;
  margin-right: 2%;
}

#in{
  color: #0077b5;
  margin-left: 2%;
  margin-right: 2%;
}

#email{
  color: #c71610;
  margin-left: 2%;
  margin-right: 2%;
}
